{#
  Google Analytics 4.

  Included by every layout so all pages are tracked. To move the site
  to a different GA4 property, change the measurement ID here only.
#}
{% set ga_measurement_id = "G-CW9BT60PE9" %}

<script
  async
  src="https://www.googletagmanager.com/gtag/js?id={{ ga_measurement_id }}"
></script>

<script>
  window.dataLayer = window.dataLayer || [];

  function gtag() {
    dataLayer.push(arguments);
  }

  gtag("js", new Date());
  gtag("config", "{{ ga_measurement_id }}");
</script>
