<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1"
  >

  <title>{{ title }} | PRAISe Lab</title>

  {% if noindex %}
    <meta name="robots" content="noindex, follow">
  {% endif %}

  <link rel="icon" href="/img/logo/praise.webp">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/responsive.css">
  <link rel="stylesheet" href="/css/praise-style.css">
  {% include "components/seo.njk" %}

  {% include "components/analytics.njk" %}

  {% include "components/pwa-head.njk" %}
</head>

<body>
  <main class="container" style="padding-top: 60px; padding-bottom: 60px;">
    {{ content | safe }}
  </main>
</body>
</html>

