:root{
    --linkhover: var(--lightgold);
  
    /*Green Theme*/
    /*--themecolor: #18d26e;  */
    /*--themecolorLines: #4ceb95;*/
  
    /*Blue Theme*/
    --themecolor: #ffffff;
  
    /* --themecolor: #4aa9f7; */
    --themecolorLines: #000000;
    --superlightgold: #CFB97D;
    --lightgold: #6a7113;
    --darkgold: #1d1e00;
  
    /*Red Theme*/
    /*--themecolor: #DB4437;*/
    /* --themecolorLines: #DB4437; */
    
  
    /*Yellow Theme*/
    /*--themecolor: #F4B400;*/
    /*--themecolorLines: #F4B400;*/
  
    /*Orange Theme*/
    /*--themecolor: #f48e00;*/
    /*--themecolorLines: #f48e00;*/
  
    /*Teal Theme*/
    /* --themecolor: #49f5cc; */
    /* --themecolorLines: #49f5cc; */
    
    /* Goes from 0 to 1, 1 being the darkest! */
    /* --darkmodeDepth: 1;  */
  }


*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	/* font-family: 'Open Sans', sans-serif; */
	text-decoration: none;
}

.team{
	position: relative;
	width: 100%;
	height: 100vh;
	/* background: #333; */
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.team-content{
	width: 96%;
	max-width: 1200px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	align-items: center;
	gap: 2rem;
	text-align: center;
	margin-top: 4rem;
}
.team-content img{
	width: 200px;
	height: 200px;
	border-radius: 50%;
	margin-bottom: 15px;
	object-fit: cover;
}
.center h1{
	color: #000000;
	font-size: 4rem;
	text-align: center;
}
.box{
	padding: 16px;
	max-width: 300px;
	min-height: 350px;
	background: radial-gradient(#ffffff,#ffffffff);;
	border-radius: 20px;
	border: 1px solid #ccc;
	transition: all .2s ease;
}
.box h3{
	font-size: 28px;
	font-weight: 550;
	color: var(--darkgold);
	margin-bottom: 8px;
	letter-spacing: 0px;
}
.box h4{
	font-size: 22px;
	font-weight: 500;
	color: #666;
	margin-bottom: 15px;
	letter-spacing: 1px;
}
.icons i{
	display: inline-block;
	color: var(--lightgold);
	font-size: 20px;
	margin: 0 8px;
	transition: all .38s ease;
}
.icons i:hover{
	transform: scale(1.2);
}
.box:hover{
	transform: translateY(-10px);
	cursor: pointer;
}

@media(max-width: 1000px){

	.team{
		width: 98%;
		height: auto;
		padding: 90px 2%;
	}
	.center h1{
		font-size: 3.2rem;
	}
}