---
permalink: /robots.txt
eleventyExcludeFromCollections: true
---
User-agent: *
Allow: /
# Icon-font demo page shipped with the font files, not site content.
Disallow: /fonts/

Sitemap: https://www.praisecu.com/sitemap.xml
