---
permalink: /site.webmanifest
eleventyExcludeFromCollections: true
---
{
  "id": "/",
  "name": "PRAISe Lab",
  "short_name": "PRAISe Lab",
  "description": "Perception, Robotics, AI and Sensing Lab at the University of Colorado Boulder.",
  "start_url": "/?source=pwa",
  "scope": "/",
  "display": "standalone",
  "orientation": "any",
  "background_color": "#111207",
  "theme_color": "#111207",
  "lang": "en-US",
"icons": [
  {
    "src": "/img/app/praise-192.png?v=3",
    "sizes": "192x192",
    "type": "image/png",
    "purpose": "any"
  },
  {
    "src": "/img/app/praise-512.png?v=3",
    "sizes": "512x512",
    "type": "image/png",
    "purpose": "any maskable"
  }
]
}